/JobVacancyCollector/obj
/JobVacancyCollector.Worker/obj
/JobVacancyCollector.Worker/bin
/JobVacancyCollector.Infrastructure/obj
/JobVacancyCollector.Domain/obj
/JobVacancyCollector.Application/obj
/.vs
/JobVacancyCollector.Application/bin
/JobVacancyCollector.Domain/bin
/JobVacancyCollector.Infrastructure/bin
/JobVacancyCollector/bin
/.vscode
